# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log
/tmp

# Ignore local environment files.
*.env
.env.test

# Ignore all credentials and keys
/config/**/*.key
/config/**/*.yml.enc

# Ignore generated schema file
schema.gql
schema.graphql
