# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log
/tmp

# Ignore local environment files.
*.env
.env.test

# Ignore all config keys
/config/**/*.key

/config/credentials/development.key
